⁠Write a Python program to reverse a string.

In [114]:
def reverse_function(word):
    return word[::-1]
    
word =input("enter a word: ")
reverse_function(word)

enter a word: lahari

'irahal'

In [115]:
a="putta"
a[::-1]

'attup'

Create a dictionary mapping names to ages and print the ages.

In [116]:
dict = {
    "lahari" : 45,
    "Jyothi" : 34,
    "Putta"  : 35
}

for name , age in dict.items():
    print(f"{name}:{age}")

lahari:45
Jyothi:34
Putta:35

⁠Write a Python program to check if a number is prime or not.

In [118]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

n = int(input("Enter a number: "))
if is_prime(n):
    print(n, "is a prime number")
else:
    print(n, "is not a prime number")

Enter a number: 7
7 is a prime number

Perform groupBy and aggregation operations on a PySpark DataFrame.

In [119]:
from pyspark.sql import SparkSession

In [120]:
spark = SparkSession.builder.appName("class").getOrCreate()

In [121]:
spark

In [122]:
data = [
    ('lahari',27,'de',10000),
    ('putta',24,'java',20000),
    ('karthik','25','sde',30000),
    ('deekshit',20,'python',25000),
    ('lavanya',28,'doctor',40000)
]

In [123]:
columns=["Name","Age","Role","Salary"]

In [124]:
data=spark.createDataFrame(data,columns)

In [125]:
data.show()

+--------+---+------+------+
|    Name|Age|  Role|Salary|
+--------+---+------+------+
|  lahari| 27|    de| 10000|
|   putta| 24|  java| 20000|
| karthik| 25|   sde| 30000|
|deekshit| 20|python| 25000|
| lavanya| 28|doctor| 40000|
+--------+---+------+------+

In [126]:
data.groupby('Name').sum().show()

+--------+-----------+
|    Name|sum(Salary)|
+--------+-----------+
|  lahari|      10000|
|   putta|      20000|
| karthik|      30000|
|deekshit|      25000|
| lavanya|      40000|
+--------+-----------+

In [127]:
data.groupby('age').count().show()

+---+-----+
|age|count|
+---+-----+
| 27|    1|
| 24|    1|
| 25|    1|
| 20|    1|
| 28|    1|
+---+-----+

In [128]:
data.groupby('Role').avg().show()

+------+-----------+
|  Role|avg(Salary)|
+------+-----------+
|    de|    10000.0|
|  java|    20000.0|
|   sde|    30000.0|
|python|    25000.0|
|doctor|    40000.0|
+------+-----------+

Join two PySpark DataFrames based on a common column.

In [129]:
data.show()

+--------+---+------+------+
|    Name|Age|  Role|Salary|
+--------+---+------+------+
|  lahari| 27|    de| 10000|
|   putta| 24|  java| 20000|
| karthik| 25|   sde| 30000|
|deekshit| 20|python| 25000|
| lavanya| 28|doctor| 40000|
+--------+---+------+------+

In [130]:
data2 = [
    ('lahari','IT'),
    ('putta','IT'),
    ('Jyothi','Non-IT'),
    ('deekshit','IT'),
    ('lavanya','Medical')
    
]

In [131]:
columns=('Name','Department')

In [132]:
data2=spark.createDataFrame(data2,columns)

In [133]:
data2.show()

+--------+----------+
|    Name|Department|
+--------+----------+
|  lahari|        IT|
|   putta|        IT|
|  Jyothi|    Non-IT|
|deekshit|        IT|
| lavanya|   Medical|
+--------+----------+

In [134]:
result = data.join(data2, on='Name',how='inner')

In [135]:
result.show()

+--------+---+------+------+----------+
|    Name|Age|  Role|Salary|Department|
+--------+---+------+------+----------+
|deekshit| 20|python| 25000|        IT|
|  lahari| 27|    de| 10000|        IT|
| lavanya| 28|doctor| 40000|   Medical|
|   putta| 24|  java| 20000|        IT|
+--------+---+------+------+----------+

⁠Apply a user-defined function to a column in a PySpark DataFrame.

In [139]:
data = [("lahari", 27, "de", 10000),
        ("putta", 24, "java", 20000),
        ("karthik", 25, "sde", 30000),
        ("deekshit", 20, "python", 25000),
        ("lavanya", 28, "doctor", 40000)]
columns = ["Name", "Age", "Role", "Salary"]
df = spark.createDataFrame(data, columns)

In [140]:
def double_age(age):
    return age * 3


udf_double_age = udf(double_age, IntegerType())
result = df.withColumn("DoubleAge", udf_double_age(col("Age")))

In [141]:
result.show()

+--------+---+------+------+---------+
|    Name|Age|  Role|Salary|DoubleAge|
+--------+---+------+------+---------+
|  lahari| 27|    de| 10000|       81|
|   putta| 24|  java| 20000|       72|
| karthik| 25|   sde| 30000|       75|
|deekshit| 20|python| 25000|       60|
| lavanya| 28|doctor| 40000|       84|
+--------+---+------+------+---------+

In [142]:
spark.stop()

⁠Write a Python program to find the area of a triangle given its three sides.

In [159]:
def area_of_triangle(side1,side2,side3):
    s = (side1+side2+side3)/2
    area = (s*(s-side1)*(s-side2)*(s-side3))**0.5
    return area

In [161]:
side1=float(input("enter a number:"))
side2=float(input("enter a number:"))
side3=float(input("enter a number:"))
area_triangle = area_of_triangle(side1,side2,side3)
print("enter a area triangle:",area_triangle)

enter a number:4
enter a number:5
enter a number:6
enter a area triangle: 9.921567416492215