In [4]:
import pandas as pd
df=pd.read_csv("test1.csv")

In [6]:
df.head()

        Name  age  Experience  Salary
0      Krish   31          10   30000
1  Sudhanshu   30           8   25000
2      Sunny   29           4   20000
3       Paul   24           3   20000
4     Harsha   21           1   15000

In [10]:
for i in range(6):
    for j in range(6):
        print("*",end=" ")
    print()

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [50]:
def triangle(height):
    for i in range(1, height + 1):
        print("*" * i)
    print()
    
height=6
triangle(height)

*
**
***
****
*****
******

In [33]:
def equi_tri(height):
    for i in range(height):
        print(" "*(height -i -1),end = " ")
        for j in range(2 * i + 1):
            print("*",end= "")
        print()
height=7
equi_tri(height)

       *
      ***
     *****
    *******
   *********
  ***********
 *************

In [63]:
def triangle_equ(height,number):
    for i in range(height):
        print(" " * (height-i),end =" ")
        for j in range(1,i+1):
            print(number,end=" ")
            number += 1
        print()
height = 5
number = 0
triangle_equ(height,number)

     0
    1 2
   3 4 5
  6 7 8 9

In [65]:
from pyspark.sql import SparkSession

In [70]:
spark=SparkSession.builder.appName("Data").getOrCreate()

24/03/29 11:45:55 WARN Utils: Your hostname, Puttas-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.101.159 instead (on interface en0)
24/03/29 11:45:55 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/29 11:45:55 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/03/29 11:45:55 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [71]:
spark

24/03/29 11:46:06 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [93]:
from pyspark.sql import Row
df = spark.createDataFrame([Row(name="Lahari",age=24,role="DE"),
                            Row(name="Jyothi",age=24,role="SE"),
                            Row(name="Putta",age=24,role="Dev")
                           ])

In [94]:
df.show()

+------+---+----+
|  name|age|role|
+------+---+----+
|Lahari| 24|  DE|
|Jyothi| 24|  SE|
| Putta| 24| Dev|
+------+---+----+

In [116]:
def count():
    a="my name is lahari"
    words=a.split()
    count_words=len(words)
    print("words_count is :",count_words)
count()

words_count is : 4

In [1]:
a= "lol"
print(a[::-1])

lol

In [4]:
#palindrome

def palindrome(word):
    if word==word[::-1]:
        return True
    else:
        return False
        
word = input("Enter a word: ")
if palindrome(word):
    print(f"{word} is a palindrome")
else:
    print(f"{word} is a palindrome")

Enter a word: lol
lol is a palindrome